h1 {
  font-family: 'Varela Round', sans-serif;
  word-wrap: break-word
}

p {
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  word-wrap: break-word
}

img {
    max-width: 100%;
    height: auto;
}

body {
  background-color: #eeeeee;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sideNav {
  height: 100%;
  width: 25%;
  position: fixed;
  background-color: #e587a3;
  /*background-image: url(wcloud.svg); causes a cluttered feel*/
  background-position: center;
}

.App {
  width: 75%;
  float: right;
}

.Profile {
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px grey;
  height: 240px;
}

.social {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 15px;
}

.social:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}